.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}
.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 8px;
    color: White;
}
.loginDisplay a:link
{
    color: White;
}

.loginDisplay a:visited
{
    color: White;
}

.loginDisplay a:hover
{
    color: White;
}


/* MENU */


div.cl
{
    background-color:#3a4f63;
    width: auto;
}

div.menu
{
    padding: 0px 0px 0px 0px;
    float:left;
  
    }

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color:inherit;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color:ButtonHighlight;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color:Blue;
    color: #cfdbe6;
    text-decoration: none;
}

.page
{
    width: 100%;
    background-color: Blue;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
	margin-top:auto;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
	background-color:#4b6c9e;
    color: #4b6c9e;
    padding: 8px 0px 0px 0px;
    margin: 12px auto;
    text-align: center;
    line-height: normal;
}

/* MENU*/
.tab
{
position: relative; 
width: auto; 
float: right; 
background-color:#4b6c9e;	
	
}
.lt
{
	
	border: thin solid #FFFFFF;
	 position: relative; 
	 float: left; 
	 float: left;
}
