<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Login.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="this-is-a-Add-company-page" virtualUrl="^~/this-is-a-Add-company-page" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Addcompany.aspx" ignoreCase="true"/>
      <add name="Agent-page" virtualUrl="^~/Agent-page" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Agent.aspx" ignoreCase="true"/>
      <add name="Analizer-page" virtualUrl="^~/Analizer-page" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AnalizerSingle.aspx" ignoreCase="true"/>
      <add name="Weigher-page" virtualUrl="^~/Weigher-page" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/WeightSingle.aspx" ignoreCase="true"/>
      <add name="RateChart-page" virtualUrl="^~/RateChart-page" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/RateChartViewer.aspx" ignoreCase="true"/>
      <add name="Cap-page" virtualUrl="^~/Cap-page" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/captcha.aspx" ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>
  <appSettings>
    <add key="BillRow" value="14" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <!--<add key="AMPSConnectionString" value="Data Source=192.168.0.72;Initial Catalog=AMPS;User ID=sa;Password=Vyshnavi123" />-->
    <add key="AMPSConnectionString" value="Data Source=182.18.162.51;Initial Catalog=AMPS;User ID=sa;Password=Vyshnavi@123" />
    <!--<add key="AMPSConnectionString" value="Data Source=182.18.162.51;Initial Catalog=AMPS;User ID=sa;Password=Vyshnavi@123" />-->
    <add key="AMPSConnectionStringd" value="Data Source=kalidhass;Initial Catalog=AMPS;User ID=sa;Password=dvyshnavi123" />
    <add key="FolderPath" value="Files/" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <connectionStrings>
    <add name="AMPSConnectionString" connectionString="Data Source=182.18.162.51;Initial Catalog=AMPS;User ID=sa;Password=Vyshnavi@123;Max Pool Size=1000000" providerName="System.Data.SqlClient"/>
    <!--<add name="AMPSConnectionString" connectionString="Data Source=192.168.0.72;Initial Catalog=AMPS;User ID=sa;Password=Vyshnavi@123;Max Pool Size=1000000" providerName="System.Data.SqlClient"/>-->
    <add name="AMPSConnectionStringSAP" connectionString="Data Source=182.18.162.51;Initial Catalog=SAPB1_Staging;User ID=sa;Password=Vyshnavi@123;Max Pool Size=1000000" providerName="System.Data.SqlClient"/>
    <!--<add name="AMPSConnectionStringSAP" connectionString="Data Source=182.18.162.51;Initial Catalog=SAPB1_Staging;User ID=sa;Password=Vyshnavi@123;Max Pool Size=1000000" providerName="System.Data.SqlClient"/>-->
    <add name="AMPSConnectionStringDpu" connectionString="Data Source=182.18.162.51;Initial Catalog=DPUDATABASE;User ID=sa;Password=Vyshnavi@123;Max Pool Size=1000000" providerName="System.Data.SqlClient" />
    <add name="AMPSConnectionStringDpu" connectionString="Data Source=182.18.162.51;Initial Catalog=DPUDATABASE;User ID=sa;Password=Vyshnavi@123;Max Pool Size=1000000" providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0;HDR={1}'"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="mycoustoompage.html"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="LoginDefault.aspx" timeout="30" defaultUrl="home.aspx" slidingExpiration="true" cookieless="AutoDetect">
        <credentials passwordFormat="SHA1">
          <user name="vishal" password="123"/>
          <user name="nayan" password="321"/>
        </credentials>
      </forms>
    </authentication>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151"/>
    <httpHandlers>
      <add path="DairyFleet.axd" verb="GET" type="DairyFleet" validate="false"/>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="DairyFleet"/>
      <add name="DairyFleet" preCondition="integratedMode" verb="GET" resourceType="Unspecified" path="DairyFleet.axd" type="DairyFleet"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="LoginDefault.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="~/crystalreportviewers13"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
</configuration>



